<h1>Editing line item date</h1>

<%= render "form", line_item_date: @line_item_date %>

<br>

<div>
  <%= link_to "Show this line item date", @line_item_date %> |
  <%= link_to "Back to line item dates", line_item_dates_path %>
</div>
